absl-py==1.3.0
accelerate==0.24.1
aiohttp==3.8.5
aiosignal==1.2.0
alabaster==0.7.13
annotated-types==0.6.0
anyio==3.7.1
anytree==2.12.1
appdirs==1.4.4
argon2-cffi==21.1.0
asttokens==2.4.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
autocorrect==2.6.1
Babel==2.13.1
backcall==0.2.0
beautifulsoup4==4.12.2
bert-score==0.3.13
black==23.11.0
bleach==6.1.0
blinker==1.4
blis==0.7.11
boto3==1.29.6
botocore==1.32.6
bpemb==0.3.4
brotlipy==0.7.0
cachetools==4.2.2
catalogue==2.0.10
certifi==2023.11.17
cffi==1.15.1
charset-normalizer==2.0.4
click==8.0.4
cloudpathlib==0.16.0
comm==0.1.4
commonmark==0.9.1
confection==0.1.4
conllu==4.5.3
contourpy==1.1.1
cryptography==39.0.1
cycler==0.12.1
cymem==2.0.8
databind.core==4.4.2
databind.json==4.4.2
datasets==2.14.6
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.7
distro==1.8.0
docopt==0.6.2
docspec==2.2.1
docspec-python==2.2.1
docstring-parser==0.11
docutils==0.18.1
dpcpp-cpp-rt==2024.0.0
editdistance==0.6.2
einops==0.7.0
entrypoints==0.4
exceptiongroup==1.2.0
executing==2.0.1
fastjsonschema==2.19.0
filelock==3.13.1
flair==0.13.0
flatbuffers==2.0
flit_core==3.8.0
fonttools==4.45.1
frozenlist==1.3.3
fsspec==2023.10.0
ftfy==6.1.3
gast==0.4.0
gdown==4.7.1
gensim==4.3.2
gmpy2==2.1.2
google-auth==2.6.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.42.0
h11==0.14.0
h5py==3.7.0
httpcore==1.0.2
httpx==0.25.1
huggingface-hub==0.17.3
idna==3.4
imagesize==1.4.1
importlib-metadata==6.8.0
importlib-resources==6.1.1
intel-cmplr-lib-rt==2024.0.0
intel-cmplr-lic-rt==2024.0.0
intel-opencl-rt==2024.0.0
intel-openmp==2024.0.0
ipykernel==6.26.0
ipython==8.12.0
ipython-genutils==0.2.0
Janome==0.5.0
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.1
jupyter-client==7.3.4
jupyter_core==5.5.0
jupyter-server==1.24.0
jupyterlab_pygments==0.3.0
keras==2.11.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
langcodes==3.3.0
langdetect==1.0.9
language-tool-python==2.7.1
lemminflect==0.2.3
lru-dict==1.3.0
lxml==4.9.3
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.7.4
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mistune==3.0.2
mkl==2024.0.0
mkl-fft==1.3.6
mkl-random==1.2.2
mkl-service==2.4.0
more-itertools==10.1.0
mpld3==0.5.9
mpmath==1.3.0
multidict==6.0.2
multiprocess==0.70.15
murmurhash==1.0.10
mypy-extensions==1.0.0
myst-parser==2.0.0
nbclassic==1.0.0
nbclient==0.8.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
notebook==6.5.6
notebook_shim==0.2.3
nr-date==2.1.0
nr-stream==1.1.5
nr.util==0.8.12
num2words==0.5.13
numpy==1.24.3
oauthlib==3.2.2
openai==1.3.4
OpenHowNet==2.0
opt-einsum==3.3.0
packaging==23.0
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.11.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pinyin==0.4.0
pip==23.0.1
pkgutil_resolve_name==1.3.10
platformdirs==4.0.0
pooch==1.4.0
pptree==3.1
preshed==3.0.9
prometheus-client==0.19.0
prompt-toolkit==3.0.41
protobuf==3.20.3
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==14.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycld2==0.41
pycparser==2.21
pydantic==2.5.1
pydantic_core==2.14.3
pydoc-markdown==4.8.2
Pygments==2.17.2
PyJWT==2.4.0
pyOpenSSL==23.0.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pytorch_revgrad==0.2.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==23.2.0
recommonmark==0.7.1
referencing==0.31.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.0
rpds-py==0.10.6
rsa==4.7.2
s3transfer==0.7.0
safetensors==0.4.0
scikit-learn==1.3.2
scipy==1.10.1
segtok==1.5.11
semver==3.0.2
Send2Trash==1.8.2
sentencepiece==0.1.99
setuptools==65.6.3
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx==7.1.2
sphinx-autodoc-typehints==1.25.2
sphinx-markdown-builder==0.6.5
sphinx-rtd-theme==1.3.0
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlitedict==2.1.0
srsly==2.4.8
stack-data==0.6.2
sympy==1.11.1
tabulate==0.9.0
tbb==2021.11.0
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
termcolor==2.1.0
terminado==0.18.0
terminaltables==3.1.10
textattack==0.3.9
thinc==8.2.1
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.14.1
tomli==2.0.1
tomli_w==1.0.0
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
tornado==6.1
tqdm==4.66.1
traitlets==5.13.0
transformer-smaller-training-vocab==0.3.2
transformers==4.35.2
triton==2.1.0
typeapi==2.1.1
typer==0.9.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==1.26.15
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.12
weasel==0.3.4
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==2.2.3
wheel==0.38.4
Wikipedia-API==0.6.0
word2number==1.1
wrapt==1.14.1
xxhash==3.4.1
yapf==0.40.2
yarl==1.8.1
zipp==3.11.0
